<?xml version="1.0" encoding="UTF-8"?>
<persistence version="1.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd">
    
    <!---1 Casa Inspectorial Salesiana/> -->
    <persistence-unit name="sistema" transaction-type="JTA">
        <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
        <jta-data-source>sistema</jta-data-source>
        <exclude-unlisted-classes>false</exclude-unlisted-classes>
        <properties>
            <property name="eclipselink.logging.level" value="SEVERE"/>
        </properties>
    </persistence-unit>
    
    <!---2 Colegio Don Bosco la Kennedy/> -->
    <persistence-unit name="rua_col_dbk" transaction-type="JTA">
        <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
        <jta-data-source>rua_col_dbk</jta-data-source>
        <exclude-unlisted-classes>false</exclude-unlisted-classes>
        <properties>
            <property name="eclipselink.logging.level" value="SEVERE"/>
        </properties>
    </persistence-unit>

    <!---3 Mecanoplast Don Bosco la Kennedy/> -->
    <persistence-unit name="rua_meca_dbk" transaction-type="JTA">
        <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
        <jta-data-source>rua_meca_dbk</jta-data-source>
        <exclude-unlisted-classes>false</exclude-unlisted-classes>
        <properties>
            <property name="eclipselink.logging.level" value="SEVERE"/>
        </properties>
    </persistence-unit>
    
    <!---4 Escela Don Bosco la Kennedy/> -->
    <persistence-unit name="rua_esc_dbk" transaction-type="JTA">
        <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
        <jta-data-source>rua_esc_dbk</jta-data-source>
        <exclude-unlisted-classes>false</exclude-unlisted-classes>
        <properties>
            <property name="eclipselink.logging.level" value="SEVERE"/>
        </properties>
    </persistence-unit>
    
    <!---5 Centro de Espiritualidad San Patricio/> -->
    <persistence-unit name="rua_san_pat" transaction-type="JTA">
        <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
        <jta-data-source>rua_san_pat</jta-data-source>
        <exclude-unlisted-classes>false</exclude-unlisted-classes>
        <properties>
            <property name="eclipselink.logging.level" value="SEVERE"/>
        </properties>
    </persistence-unit>
  
    <!---6 Mecanica Don Bosco la Kennedy/> -->
    <persistence-unit name="rua_mecanica_dbk" transaction-type="JTA">
        <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
        <jta-data-source>rua_mecanica_dbk</jta-data-source>
        <exclude-unlisted-classes>false</exclude-unlisted-classes>
        <properties>
            <property name="eclipselink.logging.level" value="SEVERE"/>
        </properties>
    </persistence-unit>
  
    <!---7  Comunidad Salesiana Kennedy/> -->
    <persistence-unit name="rua_comunidad_dbk" transaction-type="JTA">
        <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
        <jta-data-source>rua_comunidad_dbk</jta-data-source>
        <exclude-unlisted-classes>false</exclude-unlisted-classes>
        <properties>
            <property name="eclipselink.logging.level" value="SEVERE"/>
        </properties>
    </persistence-unit>
    
    <!---8  Parroquia San Juan Bosco Kennedy/> -->
    <persistence-unit name="rua_parroquia_dbk" transaction-type="JTA">
        <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
        <jta-data-source>rua_parroquia_dbk</jta-data-source>
        <exclude-unlisted-classes>false</exclude-unlisted-classes>
        <properties>
            <property name="eclipselink.logging.level" value="SEVERE"/>
        </properties>
    </persistence-unit>
    
    <!---9  Casa Inspectorial Salesiana 2019/> -->
    <persistence-unit name="rua_inspectoria" transaction-type="JTA">
        <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
        <jta-data-source>rua_inspectoria</jta-data-source>
        <exclude-unlisted-classes>false</exclude-unlisted-classes>
        <properties>
            <property name="eclipselink.logging.level" value="SEVERE"/>
        </properties>
    </persistence-unit>
    
    <!---10  Centro de Espiritualidad San Patricio 2019/> -->
    <persistence-unit name="rua_sanpatricio" transaction-type="JTA">
        <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
        <jta-data-source>rua_sanpatricio</jta-data-source>
        <exclude-unlisted-classes>false</exclude-unlisted-classes>
        <properties>
            <property name="eclipselink.logging.level" value="SEVERE"/>
        </properties>
    </persistence-unit>
  
    <!---11  FONDO VOCACIONAL SALESIANO/> -->
    <persistence-unit name="rua_fondo_vs" transaction-type="JTA">
        <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
        <jta-data-source>rua_fondo_vs</jta-data-source>
        <exclude-unlisted-classes>false</exclude-unlisted-classes>
        <properties>
            <property name="eclipselink.logging.level" value="SEVERE"/>
        </properties>
    </persistence-unit>
  
    <!---12  COMUNIDAD SALESIANA MARIA AUXILIADORA DE CUENCA/> -->
    <persistence-unit name="rua_comunidad_mac" transaction-type="JTA">
        <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
        <jta-data-source>rua_comunidad_mac</jta-data-source>
        <exclude-unlisted-classes>false</exclude-unlisted-classes>
        <properties>
            <property name="eclipselink.logging.level" value="SEVERE"/>
        </properties>
    </persistence-unit>
    
    <!---13  PARROQUIA DE MARIA AUXILIADORA DE LOS CRISTIANOS/> -->
    <persistence-unit name="rua_parroquia_mac" transaction-type="JTA">
        <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
        <jta-data-source>rua_parroquia_mac</jta-data-source>
        <exclude-unlisted-classes>false</exclude-unlisted-classes>
        <properties>
            <property name="eclipselink.logging.level" value="SEVERE"/>
        </properties>
    </persistence-unit> 
    <!---14  MODULO GERENCIAL LUIS TOAPANTA/> -->
    <persistence-unit name="rua_gerencial" transaction-type="JTA">
        <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
        <jta-data-source>rua_gerencial</jta-data-source>
        <exclude-unlisted-classes>false</exclude-unlisted-classes>
        <properties>
            <property name="eclipselink.logging.level" value="SEVERE"/>
        </properties>
    </persistence-unit>   
</persistence>
